.image-upload .image-preview img {
    max-width: 100%;
}

.image-upload .crop-container > img.crop-image {
    text-align: center;
}

.image-upload .crop-container > img.crop-image {
    max-width: 100%;
    max-height: 400px;
}

.ui.modal.alt-text-hidden .alt-text-container {
    display: none;
}